<div class="getmentoriaBox">
  <div class="mentorInfo">
    <img
      [src]="mentor.imagePath"
      alt="{{ mentor.nombre }}"
      class="mentor-foto"
    />
    <h3>{{ mentor.nombre }}</h3>
    <p>{{ mentor.biografia }}</p>
    <p>Calificación: {{ mentor.valoracion }}</p>
    <h4>Horarios disponibles:</h4>
    <select [(ngModel)]="horarioSeleccionado">
      <option value="">Selecciona un horario</option>
      <option
        *ngFor="let horario of mentor.horariosDisponibles"
        [value]="horario.dia + ' ' + horario.horainicio + ' ' + horario.horafin"
      >
        {{ horario.dia }}: {{ horario.horainicio }} - {{ horario.horafin }}
      </option>
    </select>

    <div *ngIf="horarioSeleccionado">
      <h5>Horario seleccionado:</h5>
      <p>{{ horarioSeleccionado }}</p>
    </div>
    <button (click)="reservarMentoria()">Reservar mentoria</button>
  </div>
</div>
