.options ul li {
  display: inline-block;
}

.highlight {
  color: #487c00;
}

.options button {
  margin: 15px;
  height: 40px;
  width: 180px;
  background-color: #487c00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

header {
  font-family: "Playfair Display", serif;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}

.header-content {
  position: relative;
  font-weight: bold;
  background-color: #407c04;
}

.header-content p {
  margin: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
