section {
    border:0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: rgb(35, 85, 16);
    width: 100%;
}



.FrameFooter {

}

.title {
    margin: 10px;

    font-family: "Playfair Display", serif;
    font-size: 48;
    color: rgb(255,255,255);
   
}

.rowOption {
    margin: 10px;
    display:flex;
    justify-content: space-around;
}

.cellOption {
    font-family: "Playfair Display", serif;
    font-size: 24;
    color: rgb(255, 255, 255);
}