.valoraciones-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.comentario {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.estrellas {
  color: gold;
}

.no-comentarios {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

button {
  background-color: #00540d;
  color: white;
  border-radius: 20px;
  border-color: unset;
  cursor: pointer;
  padding: 1% 3%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: large;
  margin-top: 40px;
}

.seccionValoracion {
  border: 2px solid green;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  max-width: 500px;
  margin: 20px auto;
}

.seccionValoracion form {
  display: flex;
  flex-direction: column;
}

.seccionValoracion label {
  margin-bottom: 5px;
  font-weight: bold;
}

.seccionValoracion textarea,
.seccionValoracion select,
.seccionValoracion input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.seccionValoracion button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.seccionValoracion button:hover {
  background-color: darkgreen;
}
