<body>
    <div class="credentialBox">
    
        <form class="formBox">
            <label>Registrate en ReservaMentor</label> <br>
            <input class="textInput" type="email"    placeholder="Correo Electronico"/> <br>
            <input class="textInput" type="password" placeholder="Contraseña" /> <br>
            <button class="login" onclick="location.href='../register'">Registrate</button> <br>
            <label class = "ForgotPassword">He olvidado la contraseña</label> <br>
            <label class = "Register">¿No tienes cuenta en ReservaMentor? </label> 
            <label class = "RegsiterLink">Registrate</label>
        </form>
    
    </div>
</body>