<mat-card-header>
    <app-navbar></app-navbar>
</mat-card-header>

<mat-card-content>
    <div class= "mainContainer">
        <div class="credentialBox">
        <div class="body">
        <div class="container">
            <form>
                <div class="head">
                    <span>Ingresar sesion</span>
                </div>
                <div class="inputs">
                    <mat-form-field>
                        <mat-label>Correo Electronico</mat-label>
                        <input matInput type="email" placeholder="Correo Electronico" name="email" [(ngModel)]="authRequest.email"
                        required=""
                        pattern="^(.+)@(.+)$"
                        #email="ngModel"/>
                        <mat-error>
                            <ng-container *ngIf="email.hasError('required')"> Este campo es obligatorio</ng-container>
                            <ng-container *ngIf="email.hasError('pattern')"> Ingrese un email valido</ng-container>
                        </mat-error>
                    </mat-form-field> <br>
                    
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" placeholder="Contraseña" name="password" [(ngModel)]="authRequest.password"
                    required=""
                    pattern="^(.+)@(.+)$"
                    #password="ngModel"/> 
                    <mat-error>
                        <ng-container *ngIf="password.hasError('required')"> Este campo es obligatorio</ng-container>
                    </mat-error>
                </mat-form-field> <br>

                </div>
                <button class="login" routerLink="/busqueda">Ingresar</button> <br>
            </form>
        </div>
        <div class="form-footer">
                <p>No tienes cuenta? <a routerLink="/register">Registrate</a></p> 
        </div>
        </div>
        </div>
    </div>
</mat-card-content>

<mat-card-footer>
    <app-footer></app-footer>
</mat-card-footer>